body {
    margin: 200;
    padding: 200px;;
    font-family: arial;
    background-color: #f2f2f2;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
}

.header-text {
    text-align:;
}

.h1 {
    font-size: 10px;
    font-weight: 50;
    color: #000; 
    text-align: right;
    margin: 5;
}
.right-align {
    text-align: right; 
  }

.about.png {
  width: 500px;
  display: flex;
  margin-top: -100px;
  margin-left: 150px;
}
